/*@font-face {
  font-family: 'Nothing+You+Could+Do';
  src: url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
}*/
@import url('/webfontkit-better-minecraft/stylesheet.css');
/*@import url('/webfontkit-you-keep-running/stylesheet.css');*/

@font-face {
  font-family: 'you keep running';
  src: url('/webfontkit-you-keep-running/YouKeepRunning-Regular.ttf');
}

* {
  background-color: black;
  color:white;
  /*font-family: "Comic Sans MS", "Comic Sans", cursive;*/
  /*font-family: "Nothing+You+Could+Do", "Comic Sans", cursive;*/
  /*font-family: 'you_keep_runningregular', 'better_minecraftregular', "Comic Sans", cursive;*/
  font-family: 'you keep running', 'better_minecraftregular', "Comic Sans", cursive;
  font-size: 24px;
  font-weight: 800;
  box-sizing: border-box;
  /* padding: 0 4px; */
  font-style: bold;
}

main {
  padding: 0 4px;
  padding-top: 50px;
}

h1 {
  font-weight: 1000;
  font-size: 60px;
  font-weight: 1000;
}

h2 {
  font-weight: 1000;
  font-size: 48px;
  font-weight: 1000;
}

p {
  font-weight: 700;
}

.txt {
  text-align: center;
  font-weight: 800;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
  top: 0;
  margin-top: 0;
  padding-left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  top: 0;
  flex: 0 50px;
  height: 50px;
  position: fixed;
  width: 100%;
}

menu .nav-item {
  padding: 0 0.3em;
}

#home:link, #home:visited {
  background-color: #ff88aa;
  color: black;
  padding: 14px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  display: inline-block;
}

#home:hover, #home:active {
  background-color: #ffaacc;
}

#portfolio:link, #portfolio:visited {
  background-color: #88aaff;
  color: black;
  padding: 14px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#portfolio:hover, #portfolio:active {
  background-color: #aaccff;
}

#startup:link, #startup:visited {
  background-color: #aa88ff;
  color: black;
  padding: 14px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#startup:hover, #startup:active {
  background-color: #ccaaff;
}

#simon:link, #simon:visited {
  background-color: #88ffaa;
  color: black;
  padding: 14px 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#simon:hover, #simon:active {
  background-color: #aaffcc;
}

.nav-item{
  text-align: center;
  background-color: none;
  padding: 0 0.3em;
  border-radius: none;
}

img, video {
  width: 50%;
  height: 50%;
  flex: 50%;
  padding: 5px;
}

.twoD {
  width: 33%;
  height: 33%;
  flex: 33%;
  padding: 2px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  img, video {
    width: 100%;
    height: 100%;
    flex: 100%;
  }
}

@media (max-width: 600px) {
  .twoD {
    width: 100%;
    height: 100%;
    flex: 100%;
  }
}

@media (max-width: 500px) {
  header {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}