@font-face {
    font-family: 'better_minecraftregular';
    src: url('better-minecraft1-webfont.woff2') format('woff2'),
         url('better-minecraft1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}